{
  "tabWidth": 4,
  "printWidth": 80,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.tsx"],
      "options": {
        "arrowParens": "always",
        "bracketSameLine": true,
        "bracketSpacing": true,
        "semi": true,
        "experimentalTernaries": false,
        "singleQuote": false,
        "jsxSingleQuote": false,
        "quoteProps": "as-needed",
        "trailingComma": "all",
        "singleAttributePerLine": false,
        "htmlWhitespaceSensitivity": "css",
        "vueIndentScriptAndStyle": false,
        "proseWrap": "preserve",
        "insertPragma": false,
        "requirePragma": false,
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 1000,
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": ["*.json", "*.config.js", "*.config.mjs", "*.config.ts"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}